@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Lilita+One&display=swap');


:root{
  --matiz-1: #FFFBE6;      
  --matiz-1-alt: #DFDFB3; 
  --matiz-2: #00AAFF;      
  --matiz-2-dark: #0080B3; 
  --matiz-3: #00B300;      
  --black: #000000;
  --white: #ffffff;

  font-size: 100%;
}


header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--matiz-3);
    height: 10rem;
}

.imagemtexto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
}

.imagem, .imagem2 {
    height: 5rem;
    width: 5rem;
}





h2 {
    display: flex;
    justify-content: center;
    font-family: "Baloo 2", sans-serif;
    font-style: normal;
    font-weight: bold;
    color: white;
}


.linhas {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 15rem;
}

.boxlinhas {
    display: flex;
    flex-direction: column;
    height: 12rem;
    width: 20rem;
}

.linha1, .linha2, .linha3 {
    border-bottom: 0.1rem solid black;
    width: 100%;
    height: 100%;
    display: flex;
    align-items:  center;
    justify-content: flex-start;
    flex-wrap: wrap;
}



.linha li {
    display: flex; 
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
}

.linha li .palavra {
    margin: 0; 
}

.palavras {
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--matiz-1-alt);
}

.linhapalavra {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border: none;
    height: 5rem;
    /* flex-wrap: wrap; */
}

.palavra {
    font-family: "Baloo 2", sans-serif;
    font-style: normal;
    font-weight: bold;
    color: black;
    background-color: white;
    border: 0.1rem solid black;
    padding: 0.5rem;
    border-radius: 0.2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 0.2rem;
    cursor: grab;
}


footer {
    display: flex;
    flex-direction: row;
}

.seta {
    margin: 0.25rem;
    margin-top: 1rem;
}

.pronto {
    
    margin: 0.25rem;
    margin-left: 3rem;
    margin-top: 1rem;
}





